
#event_form{
    margin-left: 20px;
    padding: 40px;
}
label{
    color: black;
    font-family: monospace;
    font-size: 15px;
    font-style: normal;
}
legend{
    color: black;
    font-size: 15px;
}
input[type=textOne]{
    border:2px solid black;
    border-radius: 4px;
    margin: 3px 0;
    outline: none;
    padding: 3px;
    box-sizing: border-box;    
}
input[type=event], select{
    border:2px solid black;
    border-radius: 4px;
    margin: 3px 0;
    outline: none;
    padding: 3px;
    box-sizing: border-box;  
}
input[type=date]{
    border:2px solid black;
    border-radius: 4px;
    margin: 3px 0;
    outline: none;
    padding: 3px;
    box-sizing: border-box;  
}
input[type=date]{
    border:2px solid black;
    border-radius: 4px;
    margin: 3px 0;
    outline: none;
    padding: 3px;
    box-sizing: border-box;   
}
input[type=checkbox] + label{
    display: inline;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox] + label:before{
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-bottom: 0.3em;
    margin-right:0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;;
}
input[type=checkbox] + label:avtive:before{
    transform: scale(0);
}
input[type=checkbox]:checked + label:before{
    background-color: green;
    border-color: green;
    color: white;
}
